<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
   <menu>
        <add id="mylsoft_weather"  title="Weather" module= "MylSoft_Weather" sortOrder="80" resource="MylSoft_Weather::city" action="mylsoft_weather/city/index" />
   </menu>
</config>